body {
    user-select: none;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#wrapper {
    position: absolute;
}

#game {
    width: 640px;
    height: 480px;
    background: rgb(0, 0, 0);
}


.gamelayer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.default-game-background {
    width: 100%;
    height: 100%;
    background-image: url("../_imgs/radio-station.jpg");
    background-size: cover;
}

/******************/
/* Loading Screen */
/******************/
#loadingScreen {
    background: #f0d1f0;
}

#loadingScreen:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../_imgs/radio-station.jpg");
    background-size: cover;
    opacity: 0.3;
}

#loadingmessage {
    text-align: center;
    height: 48px;
    color: rgb(255, 255, 255);
    font: 12px Arial;
}

/* Credits: https://css-loaders.com/wavy/ */
/* HTML: <div class="loader"></div> */
.loader {
    display: inline-grid;
    padding: 5px;
    margin-top: 200px;
    width: 100%;
    filter: blur(2px) contrast(12);
  }
  .loader:before {
    content: "";
    margin: auto;
    height: 40px;
    aspect-ratio: 3;
    --c: #0000 64%,#aa06aa 66% 98%,#0000 101%;
    background:
      radial-gradient(35% 146% at 50% 159%,var(--c)) 0 0,
      radial-gradient(35% 146% at 50% -59%,var(--c)) 100% 100%;
    background-size: calc(200%/3) 50%;
    background-repeat: repeat-x;
    animation: l11 .8s infinite linear;
  }
  @keyframes l11{
    to {background-position: -200% 0,-100% 100%}
  }


/******************/
/* Splash Screen */
/******************/


#splashScreen h1 {
    margin-top: 50px;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

.on-air-signage {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.on-air-signage p {
    margin: 0;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #f00;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 0 5px 1px #f00;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.neon {
    color: #fff;
}

.neon.blue {
    text-shadow: 
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #0ff,
        0 0 80px #0ff,
        0 0 90px #0ff,
        0 0 100px #0ff,
        0 0 150px #0ff;
}

.neon.red {
    text-shadow: 
        0 0 10px rgb(255, 92, 92);
}

.neon span {
    animation: flicker 500ms linear;
}

.neon .delay1 {
    animation-delay: 0.8s;
}

.neon .delay2 {
    animation-delay: 1.4s;
}

.neon .delay3 {
    animation-delay: 1.8s;
}

@keyframes flicker {
    0% {opacity: 0;}
    10% {opacity: 1;}
    20% {opacity: 0;}
    40% {opacity: 1;}
    50% {opacity: 0;}
    60% {opacity: 1;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}


/***********************/
/* Default Game Screen */
/***********************/

#defaultGameScreen {
    
}


/************************/
/* Caller Dialog Screen */
/************************/

.dialog-box {
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(213, 14, 203);
}

#dialogContainerBox.interactive {
    width: 85%;
    height:300px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#dialogContainerBox.call-log {
    width: 300px;
    height: 80%;
    margin: 5% 30px;
}

#dialogContainerBox.scene {
    width: 80%;
    height: 100px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.dialog-box p {
    color: white;
    margin: 0;
}

.dialog-box > div {
    padding: 20px;
}

.dialog-box .prompt {
    font-size: 0.9em;
}

.dialog-box .prompt em, .scene-box em {
    color: rgb(199, 203, 255);
}

.dialog-box .option-box {   
    position: absolute;
    bottom: 20px;
    width: 90%;
}

.dialog-box .option-box p {
    color: #98dee9;
    font-size: 1em;
    margin: 5px 0;
    padding: 5px;
 }

 .dialog-box .option-box p:hover {
    background-color: #3DD1E7;
    cursor: pointer;
    color: black;
    font-weight: 700;
    transform: rotate(.5deg);
 }

 .dialog-box .option-box p:nth-of-type(2):hover {
    transform: rotate(-.5deg);
 }

 .dialog-box .option-box p:hover::after {
    content: '';
    position: absolute;
    border: 1px solid #ffffff;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}


.hidden {
    display: none;
 }

 .dialog-box .logs-list{
    max-height: 300px;
    overflow-y: auto;
    overflow-wrap: break-word;
    margin-top: 10px;
 }

 .logs-list .call {
    margin-bottom: 10px;
 }

 .logs-list .caller-id {
    color: rgb(250, 103, 216);
 }

 .logs-list .caller-id.dj {
    color: rgb(138, 138, 239);
 }

 .logs-list .caller-id::after {
    content: ': ';
 }

 .scene-box p {
    font-size: .9em;
 }

 .speaker-box {
    position: absolute;
    top: -20px;
    left: -20px;
    padding: 5px 10px;
    background: #ffffff;
    color: black;
    transform: rotate(-2deg);
 }

 #speakerBox.speaker-box {
    color: black;
 }

 #callerDescriptionBox.speaker-box {
    width: fit-content;
    position: absolute;
    left: 10px;
    color: black;
    transform: rotate(2deg);
}



/* CSS */
.button-next {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 0.8rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: max-content;
  max-width: 460px;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-next.bottom-right {
    position: absolute;
    right: -5px;
    bottom: -20px;
}

.button-next:focus {
  outline: 0;
}

.button-next:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-next:hover:after {
  bottom: 2px;
  left: 2px;
}

/************************/
/* Ending Screen */
/************************/


#endingScreen .rolling-credits {
    position: absolute;
    top: 500px;
    width: 100%;
    height: 100vh;
    animation: up 10s;
}

#monolougeContainerBox {
    width: 80%;
    height: 100px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



#endingScreen .credits-img {
    max-height: 40%;
    transform: rotate(5deg);
    position: absolute;
    /* top: 500px; */
    left: 50%;
    transform: translateX(-50%) rotate(5deg);
}

@keyframes up {
    from {top: 500px;}
    to {top: 100px;}
  }




/************************/
/*  Choose Music Screen */
/************************/


/* Credits: https://codepen.io/jenning/pen/JjoGKgE */
/*  Jenning (jenning) */
.carousel {
    margin: 50px auto;
    width: 50%;
    height: 200px;
    background: #191919;
    position: relative;
    box-shadow: 20px 20px #F15025;
    font-family: "Sulphur Point", sans-serif;
    transform: rotate(1deg);
}

  .carousel:before, .carousel:after {
    position: absolute;
    font-size: 12px;
    color: white;
    text-align: center;
    width: 100%;
  }
  .carousel:after {
    content: "Choose a song";
    position: absolute;
    top: calc(100% + 4px);
    -webkit-animation: blink 0.6s ease infinite;
            animation: blink 0.6s ease infinite;
  }
  .carousel__stage {
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .carousel__item-input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .carousel__item-input:nth-child(1):checked ~ .carousel__item-label:nth-child(11) {
    background: #F15025;
  }
  .carousel__item-input:nth-child(1):checked ~ .carousel__item-label:nth-child(11):before {
    display: block;
  }
  .carousel__item-input:nth-child(1):checked ~ .carousel__item-content:nth-child(6) {
    transform: translate(0%);
  }
  .carousel__item-input:nth-child(1):checked ~ .carousel__item-content:nth-child(7) {
    transform: translate(100%);
  }
  .carousel__item-input:nth-child(1):checked ~ .carousel__item-content:nth-child(8) {
    transform: translate(200%);
  }
  .carousel__item-input:nth-child(1):checked ~ .carousel__item-content:nth-child(9) {
    transform: translate(300%);
  }
  .carousel__item-input:nth-child(1):checked ~ .carousel__item-content:nth-child(10) {
    transform: translate(400%);
  }
  .carousel__item-input:nth-child(2):checked ~ .carousel__item-label:nth-child(12) {
    background: #F15025;
  }
  .carousel__item-input:nth-child(2):checked ~ .carousel__item-label:nth-child(12):before {
    display: block;
  }
  .carousel__item-input:nth-child(2):checked ~ .carousel__item-content:nth-child(6) {
    transform: translate(-100%);
  }
  .carousel__item-input:nth-child(2):checked ~ .carousel__item-content:nth-child(7) {
    transform: translate(0%);
  }
  .carousel__item-input:nth-child(2):checked ~ .carousel__item-content:nth-child(8) {
    transform: translate(100%);
  }
  .carousel__item-input:nth-child(2):checked ~ .carousel__item-content:nth-child(9) {
    transform: translate(200%);
  }
  .carousel__item-input:nth-child(2):checked ~ .carousel__item-content:nth-child(10) {
    transform: translate(300%);
  }
  .carousel__item-input:nth-child(3):checked ~ .carousel__item-label:nth-child(13) {
    background: #F15025;
  }
  .carousel__item-input:nth-child(3):checked ~ .carousel__item-label:nth-child(13):before {
    display: block;
  }
  .carousel__item-input:nth-child(3):checked ~ .carousel__item-content:nth-child(6) {
    transform: translate(-200%);
  }
  .carousel__item-input:nth-child(3):checked ~ .carousel__item-content:nth-child(7) {
    transform: translate(-100%);
  }
  .carousel__item-input:nth-child(3):checked ~ .carousel__item-content:nth-child(8) {
    transform: translate(0%);
  }
  .carousel__item-input:nth-child(3):checked ~ .carousel__item-content:nth-child(9) {
    transform: translate(100%);
  }
  .carousel__item-input:nth-child(3):checked ~ .carousel__item-content:nth-child(10) {
    transform: translate(200%);
  }
  .carousel__item-input:nth-child(4):checked ~ .carousel__item-label:nth-child(14) {
    background: #F15025;
  }
  .carousel__item-input:nth-child(4):checked ~ .carousel__item-label:nth-child(14):before {
    display: block;
  }
  .carousel__item-input:nth-child(4):checked ~ .carousel__item-content:nth-child(6) {
    transform: translate(-300%);
  }
  .carousel__item-input:nth-child(4):checked ~ .carousel__item-content:nth-child(7) {
    transform: translate(-200%);
  }
  .carousel__item-input:nth-child(4):checked ~ .carousel__item-content:nth-child(8) {
    transform: translate(-100%);
  }
  .carousel__item-input:nth-child(4):checked ~ .carousel__item-content:nth-child(9) {
    transform: translate(0%);
  }
  .carousel__item-input:nth-child(4):checked ~ .carousel__item-content:nth-child(10) {
    transform: translate(100%);
  }
  .carousel__item-input:nth-child(5):checked ~ .carousel__item-label:nth-child(15) {
    background: #F15025;
  }
  .carousel__item-input:nth-child(5):checked ~ .carousel__item-label:nth-child(15):before {
    display: block;
  }
  .carousel__item-input:nth-child(5):checked ~ .carousel__item-content:nth-child(6) {
    transform: translate(-400%);
  }
  .carousel__item-input:nth-child(5):checked ~ .carousel__item-content:nth-child(7) {
    transform: translate(-300%);
  }
  .carousel__item-input:nth-child(5):checked ~ .carousel__item-content:nth-child(8) {
    transform: translate(-200%);
  }
  .carousel__item-input:nth-child(5):checked ~ .carousel__item-content:nth-child(9) {
    transform: translate(-100%);
  }
  .carousel__item-input:nth-child(5):checked ~ .carousel__item-content:nth-child(10) {
    transform: translate(0%);
  }
  .carousel__item-content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    will-change: transform;
  }

  .carousel__item-content .item__song-details {
    width: 80%;
  }

  .carousel__item-content .item__song-details .song-title {
    text-shadow: 2px 2px #F15025;
    color: white;
    font-size: 1.5em;
    margin: 0;
  }

  .carousel__item-content .item__song-details .song-artist {
    color: white;
    font-size: 1em;
    margin: 0;
  }

  .carousel__item-content:nth-child(6) {
    z-index: 5;
    background: rgba(230, 232, 230, 0.84);
  }
  .carousel__item-content:nth-child(7) {
    z-index: 4;
    background: rgba(230, 232, 230, 0.68);
  }
  .carousel__item-content:nth-child(8) {
    z-index: 3;
    background: rgba(230, 232, 230, 0.52);
  }
  .carousel__item-content:nth-child(9) {
    z-index: 2;
    background: rgba(230, 232, 230, 0.36);
  }
  .carousel__item-content:nth-child(10) {
    z-index: 1;
    background: rgba(230, 232, 230, 0.2);
  }
  .carousel__item-label {
    position: absolute;
    width: 6px;
    height: 6px;
    border: 1px solid #F15025;
    background: transparent;
    border-radius: 50%;
    z-index: 1;
    bottom: 10px;
    left: 50%;
    cursor: pointer;
    z-index: 6;
  }
  .carousel__item-label:nth-child(11) {
    transform: translateX(-53px);
  }
  .carousel__item-label:nth-child(12) {
    transform: translateX(-28px);
  }
  .carousel__item-label:nth-child(13) {
    transform: translateX(-3px);
  }
  .carousel__item-label:nth-child(14) {
    transform: translateX(22px);
  }
  .carousel__item-label:nth-child(15) {
    transform: translateX(47px);
  }
  .carousel__item-label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #F15025;
    -webkit-animation: ripple 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
            animation: ripple 0.6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    display: none;
  }
  
  @-webkit-keyframes blink {
    0%, 100% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.9;
    }
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 0.5;
    }
    50% {
      opacity: 0.9;
    }
  }
  @-webkit-keyframes ripple {
    0%, 100% {
      opacity: 0;
    }
    15% {
      opacity: 0.6;
    }
    0% {
      transform: scale(0);
    }
    100%, 85% {
      transform: scale(5);
    }
  }
  @keyframes ripple {
    0%, 100% {
      opacity: 0;
    }
    15% {
      opacity: 0.6;
    }
    0% {
      transform: scale(0);
    }
    100%, 85% {
      transform: scale(5);
    }
  }


.button-next.play-song-button {
    padding: 0 10px;
    margin-top: 20px;
}